<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
    <body>
        <div class="container-md">
            <div th:replace="fragments/bodyHeader :: bodyHeader"/>

            <h1>Blog Search</h1>

            <div class="container-md mb-3">
                <div class="table-responsive">
                    <form class="form" id="search-form" name="search-form">
                        <div class="mx-quto input-group mt-5">
                            <mx-auto>
                                <input name="query" type="text" class="form-control" placeholder="검색어 입력" th:value="${searchForm.query}">
                            </mx-auto>
                            <button class="btn btn-success" type="submit" onclick="searchQuery()">검색</button>
                            <input name="sort" type="hidden" th:value="${searchForm.sort}" />
                        </div>
                    </form>
                </div>
                <th:block th:if="${searchResults.isEmpty()}">
                    <small class="form-text text-muted">인기 검색어가 존재하지 않습니다.</small>
                </th:block>
                <th:block th:unless="${searchResults.isEmpty()}">
                    <div>인기 검색어</div>
                    <div class="form-text text-muted" th:each="searchDomain, stat : ${searchDomains}">
                        <small class="form-text text-muted" th:text="|${stat.count}. ${searchDomain.getQuery()}(${searchDomain.getCount()})|"></small>
                    </div>
                </th:block>

            </div>

            <div class="container-md">
                <table class="table table-bordered table-responsive">
                    <thead class="thead-light">
                        <tr class="text-center">
                            <th scope="col" class="col-md-3">No</th>
                            <th scope="col" class="col-md-3">Blog</th>
                            <th scope="col" class="col-md-3">Title</th>
                            <th scope="col" class="col-md-3">Contents</th>
                            <th scope="col" class="col-md-3">Thumbnail</th>
                            <th scope="col" class="col-md-3">URL</th>
                            <th scope="col" class="col-md-3">Datetime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${searchResults.isEmpty()}">
                            <tr class="text-center">
                                <td colspan="100">검색된 데이터가 없습니다.</td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${searchResults.isEmpty()}">
                            <th:block th:if="${#strings.equals('accuracy', searchForm.sort)}">
                                <span class="btn btn-primary" th:text="|정확도 순|" onclick="sort('accuracy')"></span>
                                <span class="btn btn-light" th:text="|최신 순|" onclick="sort('recency')"></span>
                            </th:block>

                            <th:block th:if="${#strings.equals('recency', searchForm.sort)}">
                                <span class="btn btn-light" th:text="|정확도 순|" onclick="sort('accuracy')"></span>
                                <span class="btn btn-primary" th:text="|최신 순|" onclick="sort('recency')"></span>
                            </th:block>
                            <tr th:each="searchResult, stat : ${searchResults}">
                                <td class="col-md-3" th:text="${@thymeleafUtils.getRowNum(pagingForm, stat.index)}">No</td>
                                <td class="col-md-3" th:utext="${searchResult.blogName}">블로그 이름</td>
                                <td class="col-md-3" th:utext="${searchResult.title}">포스팅 제목</td>
                                <td class="col-md-3" th:utext="${searchResult.contents}">포스팅 내용</td>
                                <td class="col-md-3"><img th:src="${searchResult.thumbnail}" alt="thumbnail"></td>
                                <td class="col-md-3">
                                    <a th:href="@{${searchResult.postUrl}}" target="_blank" th:text="바로가기">포스팅 URL</a>
                                </td>
                                <td class="col-md-3" th:text="${#temporals.format(searchResult.createDt.toLocalDateTime(), 'yyyy-MM-dd HH:dd')}">포스팅 등록일</td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <th:block th:replace="common/pagination :: paginationFragment(${pagingForm}, 10)"></th:block>
            </div>
        </div>
    </body>
    <script th:inline="javascript">

        setPageSize();

        // 정렬 조건 변경
        function sort(type) {
            let urlStr = decodeURIComponent(location.href);
            let urlObj = new URL(urlStr);

            const urlParams = urlObj.searchParams;
            const originSortType = urlParams.get('sort');

            urlStr = urlStr.replace(originSortType, type);
            location.href = urlStr;
        }

        // 페이징 크기 변경
        function setPageSize() {
            const url = new URL(location.href);
            const urlParams = url.searchParams;
            const defaultPageSize = 10;

            const pageSize = urlParams.get('size');
            const page = urlParams.get('page');
            const query = urlParams.get('query');
            const sort = urlParams.get('sort');

            if (pageSize) {
                $('.selectpicker').val(pageSize);
            } else {
                $('.selectpicker').val(defaultPageSize);
            }

            $('.selectpicker').change(function() {
                if (query && sort && page) {
                    location.href = `?query=${query}&sort=${sort}&page=${page}&size=${$(this).val()}`;
                    return;
                }

                if (query && sort) {
                    location.href = `?query=${query}&sort=${sort}&size=${$(this).val()}`;
                    return;
                }

                alert('검색을 한 이후 값을 설정해주세요.');
            });
        }

    </script>
</html>