<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
    <body>
        <div class="container-md">
            <div th:replace="fragments/bodyHeader :: bodyHeader"/>

            <h1>Blog Search</h1>

            <div class="container-md mb-3">
                <form class="form" id="search-form" name="search-form">
                    <div class="mx-quto input-group mt-5">
                        <mx-auto>
                            <input name="query" type="text" class="form-control" placeholder="검색어 입력" th:value="${searchForm.query}">
                        </mx-auto>
                        <button class="btn btn-success" type="submit" onclick="searchKeyword()">검색</button>
                        <input name="sort" type="hidden" th:value="${searchForm.sort}" />
                    </div>
                </form>
            </div>

            <div class="container-md">
                <table class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col" class="col-md-3">Blog</th>
                            <th scope="col" class="col-md-3">Title</th>
                            <th scope="col" class="col-md-3">Contents</th>
                            <th scope="col" class="col-md-3">Thumbnail</th>
                            <th scope="col" class="col-md-3">URL</th>
                            <th scope="col" class="col-md-3">Datetime</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${searchResults.isEmpty()}">
                            <tr class="text-center">
                                <td colspan="100">검색된 데이터가 없습니다.</td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${searchResults.isEmpty()}">
                            <tr th:each="searchResult, stat : ${searchResults}">
                                <td class="col-md-3" th:utext="${searchResult.blogName}">블로그 이름</td>
                                <td class="col-md-3" th:utext="${searchResult.title}">포스팅 제목</td>
                                <td class="col-md-3" th:utext="${searchResult.contents}">포스팅 내용</td>
                                <td class="col-md-3"><img th:src="${searchResult.thumbnail}" alt="thumbnail"></td>
                                <td class="col-md-3" th:utext="${searchResult.postUrl}">포스팅 URL</td>
                                <td class="col-md-3" th:text="${#temporals.format(searchResult.createDt.toLocalDateTime(), 'yyyy-MM-dd HH:dd')}">포스팅 등록일</td>
                            </tr>
                        </th:block>
                    </tbody>
                </table>
                <th:block th:replace="common/pagination :: paginationFragment(${pagingForm}, 10)"></th:block>
            </div>
        </div>
    </body>
    <script>

    </script>
</html>